html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
}

head {
    display: none;
}

body {
    overflow-x: hidden;
    font-family: '';
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    color: #222;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hero-area-fix {
    position: relative;
    width: 100%;
    min-height: 640px;
    overflow: hidden;
    content: '';
    min-height: 640px;
    z-index: 1;
}

.blur_10px {
    -webkit-filter: blur(5px);
}

span {
    color: white;
}

.button3 {
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f16b;
    text-align: center;
    padding: 0.5em 3em;
}

.button3:hover {
    background-color: #4095c6;
}

@media all and (max-width:30em) {
    .button3 {
        display: block;
        margin: 0.8em auto;
    }
}

.img_ {
    background: url(https://github.com/Under4groos/CrosshairGX.view/blob/main/image/CrosshairGX_Tx7FCYxWU0.jpg?raw=true);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* width: 100; */
    opacity: 0.5;
    height: 1080px;
    background-color: rgba(1, 0, 0, 0);
}

.img_2 {
    background: url(https://github.com/Under4groos/CrosshairGX.view/blob/main/image/CrosshairGX_uAduZTchTi.jpg?raw=true);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* width: 100; */
    opacity: 0.5;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0);
}

.jquery-ripples {
    position: relative;
    z-index: 0;
}

footer,
header,
nav,
section {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section {
    display: block;
}

div {
    display: block;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.hero-text h1 {
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    font-weight: bold;
    /* text-transform: uppercase; */
    font-size: 60px;
}

ul,
h1,
h2,
h3,
h4 {
    margin: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
.h1 {
    font-size: 36px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: white;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hero-text h3 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(231, 231, 231);
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 25px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    min-height: 40px;
}

ul,
h1,
h2,
h3,
h4 {
    margin: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}

h3,
.h3 {
    font-size: 24px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.view-demo {
    font-family: 'Montserrat';
    font-size: 13px;
    text-transform: uppercase;
    background: #fff;
    color: #191919;
    padding: 15px 62px;
    border-radius: 50px;
    margin-right: 15px;
}

a,
.btn,
button {
    text-decoration: none;
    outline: none;
    transition: all .6s ease-in-out;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}