@media (width < 400px) and (width > 0px) {
    .img_logo {
        width: 300px;
    }
}

@media (width < 800px) and (width > 400px) {
    .img_logo {
        width: 500px;
    }
}

@media (width > 800px) {
    .img_logo {
        width: 800px;
    }
}